/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.background {
  position: relative;
  width: 100%;
  height: calc(100vh - 9.4rem);
}

.backgroundImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
}

.titleOnImg {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
}